@media (max-width: 600px){
    @mixin textbox {
        padding-top: 50px;
        padding-bottom: 300px;

        p{
            margin-bottom: 200px;
            line-height: 3em;
        }
    }

    .respon-br{
        display: block;
    }
    .page-wrapper{
        font-size: 21px;
        overflow: hidden;
    }

    .title-wrapper{
        font-size: 20px;
    }
}